GraphQL-vs-REST_API/.idea/
GraphQL-vs-REST_API/*.iml
GraphQL-vs-REST_API/*.iws
GraphQL-vs-REST_API/*.eml
GraphQL-vs-REST_API/out/
GraphQL-vs-REST_API/.DS_Store
GraphQL-vs-REST_API/.svn
GraphQL-vs-REST_API/log/*.log
GraphQL-vs-REST_API/tmp/**
GraphQL-vs-REST_API/node_modules/
GraphQL-vs-REST_API/.sass-cache