presentation-r-g/.idea/
presentation-r-g/*.iml
presentation-r-g/*.iws
presentation-r-g/*.eml
presentation-r-g/out/
presentation-r-g/.DS_Store
presentation-r-g/.svn
presentation-r-g/log/*.log
presentation-r-g/tmp/**
presentation-r-g/node_modules/
presentation-r-g/.sass-cache