pesentation-r-g/.idea/
pesentation-r-g/*.iml
pesentation-r-g/*.iws
pesentation-r-g/*.eml
pesentation-r-g/out/
pesentation-r-g/.DS_Store
pesentation-r-g/.svn
pesentation-r-g/log/*.log
pesentation-r-g/tmp/**
pesentation-r-g/node_modules/
pesentation-r-g/.sass-cache